/* Reset default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Set a background color for the entire page */
body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    text-align: center;
}

/* Style for the div containing the student ID and custom number input */
div {
    margin: 20px;
}

/* Style for the labels */
label {
    font-weight: bold;
}

/* Style for the input elements */
input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100px;
}

/* Style for the buttons */
button {
    padding: 10px 20px;
    margin: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #333;
    color: #fff;
    transition: background-color 0.3s;
}

/* Change button color on hover */
button:hover {
    background-color: blueviolet;
    
}

/* Style for the select element */
select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 150px;
}

/* Style for the images */
img {
    max-width: 900px;
    height: auto;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}
